# DS18B20 chamber temperature sensor (Pi GPIO22, Linux 1-wire)
# Requires ds18b20_sysfs.py linked into ~/klipper/klippy/extras (see install.sh)
# Delete this folder to disable - printer.cfg includes it with a wildcard.
[ds18b20_sysfs]

[temperature_sensor ds18b20]
sensor_type: DS18B20_HOST
serial_no: 28-0b257ce56f76
min_temp: 0
max_temp: 100
#ds18_report_time: 3.0
